@import url(https://fonts.googleapis.com/css?family=Lato);
@import url(https://fonts.googleapis.com/css?family=Roboto);

/* 
 * Variables
 * Default variables, can be overwritten
*/
$fontLato: Lato, sans-serif;
$fontRoboto: Roboto, sans-serif;

$colorBlueDefault: #25476f;
$colorBlueSoft: #3078bf; 
$colorBlueDarkDefault: #182244;
$colorBlueDarkSoft: #203880;
$colorRedDefault: #b31b27;
$colorRedSoft: #651a1e;
$colorOrangeDefault: #e64c2e;
$colorOrangeSoft: #8b3628;
$colorYellowDefault: #f2c230;
$colorYellowSoft: #94762a;
$colorGreenDefault: #30bfbf;
$colorGreenSoft: #256f6f;
$colorGrey: #949494;
$colorWhite: #fff;

/* 
 * Global
 * Overall styles, default project setup
*/
html {
	font-size: 62.5%; // Sets default value to 10	
}

html,
body {
	min-height: 100%;
}

/* 
 * Heading
 * Default heading styles
*/
.heading {
	margin: 0 0 20px;
	padding: 0;
	font-family: $fontLato;
	
	&.h1 {
		font-size: 4rem;
		line-height: 1.2em;
	}
	
	&.h2 {
		font-size: 3.2rem;
		line-height: 1.3em;
	}
	
	&.h3 {
		font-size: 2.6rem;
		line-height: 1.4em;
	}
	
	&.h4 {
		font-size: 2rem;
		line-height: 1.5em;
	}
}

/* 
 * Copy
 * Default copy styles
*/
.copy {
	margin: 0 0 20px;
	padding: 0;
	font-family: $fontRoboto;
	
	&.c1 {
		font-size: 1.6rem;
		line-height: 1.6em;
	}
	
	&.c2 {
		font-size: 1.4rem;
		line-height: 1.7em;
	}
}

/* 
 * Button
 * Default button styles
*/
.button {
	transition: all 200ms ease-out;
	display: inline-block;
	min-width: 100px;
	margin: 0;
	padding: 10px;
	border: none;
	background-color: transparent;
	font: 1.6rem $fontRoboto;
	text-align: center;
	color: $colorWhite;
}

/* 
 * Colors
 * Blocklevel color styles
*/
@mixin colorify($colorName: 'grey', $colorIdle: #333, $colorHover: #666) {
	.color-#{$colorName} {
		color: $colorIdle;
		&:hover, &.soft { color: $colorHover; }
	}
	
	.bg-#{$colorName} {
		background-color: $colorIdle;
		&:hover, &.soft { background-color: $colorHover; }
	}
	
	.border-#{$colorName} {
		border: 1px solid $colorIdle;
		&:hover, &.soft { border-color: $colorHover; }
	}
}

@include colorify('blue', $colorBlueDefault, $colorBlueSoft);
@include colorify('blue-dark', $colorBlueDarkDefault, $colorBlueDarkSoft);
@include colorify('red', $colorRedDefault, $colorRedSoft);
@include colorify('orange', $colorOrangeDefault, $colorOrangeSoft);
@include colorify('yellow', $colorYellowDefault, $colorYellowSoft);
@include colorify('green', $colorGreenDefault, $colorGreenSoft);

/* 
 * Layout
 * Positions a div in the center of the screen.
 * @params: width (px), height (px), bg (string)
*/
@mixin absolute-center($width: 300px, $height: 300px, $bg: transparent) {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: $width;
	height: $height;
	background-color: $bg;
}

/* 
 * Branding
 * Blocklevel branding for pens
 * @params: $root (root HTML selector)
*/
@mixin blocklevel($root: html) {
	#{$root} {
		body {
			background: $colorBlueDefault url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/49306/blocklevel-gradient.jpg);
			background-size: cover;
			background-attachment: fixed;
			color: $colorWhite;
		}
	}
}

/* 
 * Styleguide
 * Presentation of default blocklevel styles
*/
@include blocklevel('.blocklevel');

.styleguide-wrapper {
	width: 500px;
	height: 20px;
	margin: 20px auto;
	
	.assets {
		margin: 0 0 20px;
		border-bottom: 1px solid $colorGrey;
	}
	
	.color {
		transition: all 200ms ease-out;
		display: inline-block;
		width: 50px;
		height: 50px;
		margin: 10px;
	}
	
	.button {
		margin: 0 10px 20px 0;
	}
}