@include blocklevel();

.container {
	@include absolute-center(400px, 400px);
}

.heading.h1,
.svg-filters {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.heading.h1 {
	outline: 90px solid transparent !important;
	filter: url(#filter);
}